*{ /* fjerne standar padding og margin */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #020202; ;
    box-shadow:  5px 5px 5px #020202; 
}
.biblo{
    height: 10%;
    width: 10%;
    padding-bottom: 2rem;
    margin: 5px;
    margin-top: 20px;
}
li{
    list-style: none;
}

a{
    color: #020202;
    text-decoration: none;
    font-size: 2rem;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease /* hover effekt */
}
.nav-link:hover{
    color: #79BA00;
}
.hamburger{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #020202;
}
/* hover effekt på anchor - https://www.youtube.com/watch?v=J4Et-MdY-qs */ 
.navbar a::after{
    margin-top: 3rem;
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: #020202;
    margin-bottom: -16px;
}
.navbar a:hover::after{
    width: 100%;
    transition: all .5s;
}

/* i videoen laver han @media her */
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
/* herunder er animation, der gør burgermenuen til et kryds når den klikkes på */
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top:70px;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    border-bottom: 1px solid #020202; 
    box-shadow:  5px 5px 5px #020202; 
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0%;
}

.titel{
    margin-top: 150px; 
    margin-left: 100px;
    font-size: 300%;
}

.undertitel{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 150%;

}

.introtekst{
    margin-top: 30px;
    margin-left: 100px;
}

.tekst{
    width: 50%;
    padding-right: 30px;
}

.sofa{
    width: 50%;
    margin-bottom: 20px;
}


/*Her er stylingen af mit grid og opsætningen af det*/
.item-titel { grid-area: menu; }
.item-undertitel { grid-area: main; }
.item-tekst { grid-area: venstre; }
.item-sofa { grid-area:højre;}
    
.grid-container {
    display: grid;
    grid-template-areas:
        'menu menu menu menu menu menu'
        'main main main main main main'
        'venstre venstre venstre højre højre højre'
        'venstre venstre venstre højre højre højre';

    grid-gap: 0px;
    margin: 10px;
    background-color: grey;
}


